<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style (2).css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<!-- //js -->
<!-- font-awesome icons -->
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
<!-- //font-awesome icons -->
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" property="" />
<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i" rel="stylesheet">
<style>
    .agileits_w3layouts_banner_info {
    margin: 12px;

}
    .banner {
    min-height: 200px;
}
</style>
</head>
<body>
	<div class="header">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">			
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav class="cl-effect-13" id="cl-effect-13">
						<ul class="nav navbar-nav">
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Sign Up</a></li>
						</ul>
					</nav>
				</div>
			</nav>
		</div>
	</div>
	</body>
	</html>
